.switch {
    cursor: pointer;
    background-color: #90e0ef;


    &__box {
        position: absolute;
        top: 8rem;
        right: 10rem;
        width: 12rem;
        height: 4rem;
        border-radius: 3rem;

        @include respond(tab-port) {
            top: 40%;
            right: 3rem;
        }

    }

    &__checkbox {
        display: none;
    }

    &__label {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin: 0 0.5rem;
        background-color: $color-white;
        cursor: pointer;
        transition: all 1s;
        z-index: 100;
    }

    &__text {
        @include absCenter;
        right: 3rem;
        margin: 0;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 600;
        color: $color-white;
        transition: all 1s;

        @include respond(tab-port) {}
    }
}

.switch--play {
    .switch {
        &__label {
            left: 8rem;
        }

        &__text {
            right: -2rem;
        }

        @include respond(tab-port) {
            &__label {
                left: 9rem;
            }

            &__text {
                right: -3rem;
            }
        }

        @include respond(tab-port) {
            &__label {
                left: 8rem;
            }

            &__text {
                right: -1rem;
            }
        }
    }
}